{% load static %}

<div class="col-md-12">
    <div class="row align-items-center">
        <div class="col-md-4" style="height: 150px;">
            {% if data.image_url == 'default' %}
                <img class="card-img-top img-responsive" src="{% static 'images/book_PNG2120.png' %}">
            {% endif %}

            {% if data.image_url != 'default' %}
                <img class="card-img-top img-responsive" src="{{ data.image_url }}"  style="height: 100%">
            {% endif %}
        </div>
        <div class="col-md-8" style="height: 200px;">
            <div class="row">
                <h5 class="card-title"><b>{{ data.title|slice:"90" }}</b>...</h5>
            </div>
            <div class="row">
                <h5 class="card-title">{{ data.description|slice:"150"}}... <a>Load More</a> </h5>
            </div>
            <div class="row">
                    Would you like to read this book?
                <p>
                    <input class="form-check-input" type="radio" data-isbn="{{ data.isbn }}" name="{{ data.cluster_id }}" id="yes" autocomplete="off" >
                        Yes
                    </input>
                    <input class="form-check-input" type="radio" data-isbn="{{ data.isbn }}" name="{{ data.cluster_id }}" id="no" autocomplete="off">
                        No
                    </input>
                </p>
            </div>
        </div>
    </div>
</div>