{% load static %}

<div class="col-md-12">
    <div class="row align-items-center">
        <div class="col-md-6">
            <img class="card-img-top img-responsive" src="{% static 'images/book_PNG2120.png' %}" alt="Card image cap">
        </div>
        <div class="col-md-6">
            <div class="row">
                <h5 class="card-title">Book title</h5>
            </div>
            <div class="row">
                <h5 class="card-title">Some quick example text to build on the book title and make up the bulk of the book's
                        description.</h5>
            </div>
            <div class="row">
                <h5 class="card-title">Would you like to read this book?</h5>
            </div>
            <div class="row">
                <input class="form-check-input" type="radio" name="options" id="option1" autocomplete="off" >
                Yes

                <input class="form-check-input" type="radio" name="options" id="option2" autocomplete="off">
                    No
            </div>
        </div>
    </div>
</div>