{% extends "AMTSurvey/base.html" %}

{% load static %}

{% block page_title %}
Part 1: Reading Habit
{% endblock %}

{% block page_direction %}
As a baseline for this survey, we are interested in your current reading habit. <br>
Please answer the next three question.
{% endblock %}


{% block content %}
<div id="row3" class="row row1">
    <div id="cell4" class="bs-cell col-sm-12 col-xs-12 cell1">
      <span id="label3" class="col-xs-12 label2">
          <h5>
          1. How many books do you read each year (not including books required for courses or school)?
          </h5>
      </span>

      <div id="cellwrapper1" class="col-md-offset-1 col-xs-12 cellwrapper1">
          <span id="radiobutton1" class="radiobutton1">
            <section>

                <div class="custom-control custom-radio custom-control-inline">
                    <label class="custom-control-label">
                    <input type="radio" class="custom-control-input" id="q1_o1" name="q1" value="0">
                    0 (None)
                    </label>
                </div>

                <div class="custom-control custom-radio custom-control-inline">
                    <label class="custom-control-label">
                    <input type="radio" class="custom-control-input" id="q1_o2" name="q1" value="1">
                        1 - 5 books
                    </label>
                </div>

                <div class="custom-control custom-radio custom-control-inline">
                  <label class="custom-control-label">
                      <input type="radio" class="custom-control-input" id="q1_o3" name="q1" value="2">
                        5 - 10 books
                  </label>
                </div>

                <div class="custom-control custom-radio custom-control-inline">
                    <label class="custom-control-label">
                    <input type="radio" class="custom-control-input" id="q1_o4" name="q1" value="3">
                    More than 10 books
                    </label>
                </div>
              </section>
          </span>
      </div>

      <span id="label4" class="col-xs-12 label2">
          <h5>2. Do you like to read?</h5>
      </span>
      <div id="cellwrapper2" class="col-md-offset-1 col-xs-12 cellwrapper1">
          <span id="radiobutton2" class="radiobutton1">
                <div class="custom-control custom-radio custom-control-inline">
                    <label class="custom-control-label">
                    <input type="radio" class="custom-control-input" id="q2_o1" name="q2"  value="0">
                    Never
                    </label>
                </div>

                <div class="custom-control custom-radio custom-control-inline">
                  <label class="custom-control-label">
                      <input type="radio" class="custom-control-input" id="q2_o2" name="q2" value="1">
                        Sometimes
                  </label>
                </div>

                <div class="custom-control custom-radio custom-control-inline">
                  <label class="custom-control-label">
                      <input type="radio" class="custom-control-input" id="q2_o3" name="q2" value="2">
                        Neutral
                  </label>
                </div>

                <div class="custom-control custom-radio custom-control-inline">
                  <label class="custom-control-label">
                      <input type="radio" class="custom-control-input" id="q2_o4" name="q2" value="3">
                        Often
                  </label>
                </div>

                <div class="custom-control custom-radio custom-control-inline">
                    <label class="custom-control-label">
                    <input type="radio" class="custom-control-input" id="q2_o5" name="q2" value="4">
                    Very often
                    </label>
                </div>

          </span>
      </div>

      <span id="label5" class="col-xs-12 label2">
          <h5>3. Do you read as much as you like to?</h5>
      </span>
      <div id="cellwrapper3" class="col-md-offset-1 col-xs-12 cellwrapper1">
          <span id="radiobutton3" class="radiobutton1">
                 <div class="custom-control custom-radio custom-control-inline">
                  <label class="custom-control-label">
                     <input type="radio" class="custom-control-input" id="q3_o1" name="q3" value="0">
                        Yes, I do.
                  </label>
                </div>

                <div class="custom-control custom-radio custom-control-inline">
                  <label class="custom-control-label">
                    <input type="radio" class="custom-control-input" id="q3_o2" name="q3" value="1">
                    No, I don't.
                  </label>
                </div>
          </span>
      </div>
    </div>
  </div>

<div id="bootstrapbox1" class="container-fluid">


  <div id="row4" class="row row1">
    <div id="cell5" class="bs-cell col-sm-12 col-xs-12 cell1">
        <button id="button1" class="col-md-12 col-xs-12 button1" >
            Proceed to Part 2
        </button>
    </div>
  </div>
</div>

{% endblock %}





</body>
</html>